<div class="loginContainer">
  <div class="logoWrapper">
    <img src="../assets/piggio_logo.png" alt="Logo" height="60px">
  </div>
  <h1 class="title">
    Innlogging
  </h1>
  <div class="loginFormWrapper">
    <div class="emailWrapper">
      <label for="inpEmail">E-post</label>
      <input id="inpEmail" class="inpLogin" type="email" placeholder="leif.leifsen@bonde.no"/>
    </div>
    <div class="passwordWrapper">
      <label for="inpPassword">Passord</label>
      <input id="inpPassword" class="inpLogin" type="password" placeholder="passord123"/>
    </div>
  </div>
  <button type="button" class="btnLogin" (click)="viewDashboard()">Logg inn</button>
</div>
