.container {
  max-width: 750px;
  margin: auto;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Søk */
.searchWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

select, input {
  height: 40px;
  width: 80px;
  padding: 10px 10px;
  border: 1px solid #c6c6c6;
  border-radius: 25px;
}

.searchbar {
  width: 400px;
}

select {
  color: white;
  background-color: #5271FF;
  font-weight: 800;
  text-align: center;
}

.filterWrapper {
  display: flex;
  align-items: left;
  justify-content: left;
  margin-bottom: 20px;
  column-gap: 10px;
}

.filterWrapper :last-child {
  margin-right: 0;
  margin-left: auto;
  width: 100px;
}

.filterWrapper select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Safari, Chrome, Opera */
  -webkit-appearance: none;
}

/* for IE10 */
.filterWrapper select::-ms-expand {
  display: none;
}

/* Liste med griser */
ul {
  list-style-type: none;
}

li {
  background-color: white;
  border: 1px solid #c6c6c6;
  border-radius: 25px;
  margin-bottom: 20px;
}

.pigContainer {
  height: 130px;
  display: flex;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
}

.pigItem {
  margin-left: 15px;
  margin-right: 20px;
  height: 80px;
  width: 300px;
  align-items: baseline;
}

.pigStats {
  width: 300px;
  justify-content: center;
  align-items: baseline;
  font-weight: 800;
}

.good {
  color: green;
}

.bad {
  color: red;
}

.pigItem:first-child {
  width: 120px;
  padding-right: 10px;
  border-right: 1px solid #4a4a4a;
}

/* Vis mer knapp */
.btnInfo {
  margin-left: auto;
  margin-right: 1rem;
  width: 150px;
  height: 40px;
  border: 1px solid #c6c6c6;
  border-radius: 25px;
  background-color: #5271FF;
  color: white;
  font-size: 15px;
  font-weight: 800;
  transition: 0.3s;
}


.btnInfo:hover {
  background-color: #355aff;
  color: white;
}

