<app-header></app-header>
<div class="container">
  <!-- In progress -->
  <!-- <div class="row" *ngFor="let post of posts | async">
    <div class="blogpost">
      <h3><a href="/post/{{post.id}}" class="blog-title">{{post.title}}</a></h3>
      <div>
        <i class="fas fa-user"></i> Author: <p>{{post.username}}</p>
      </div>
      <p [innerHTML]="post.content"></p>
      <div>
        <a type="button" href="/post/{{post.id}}" class="read-more btn btn-default">Read More</a>
      </div>
      <hr>
    </div>
    <hr>
  </div> -->

  <div class="searchWrapper">
    <!-- Link this with database for correct display -->
    <input type="text" class="searchbar" placeholder="Søk ..."/>
  </div>
  <div class="filterWrapper">
    <select>
      <option value="none" selected disabled hidden>Binge</option>
      <option>Alle</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
    <select>
      <option value="none" selected disabled hidden>Kjønn</option>
      <option>Alle</option>
      <option>Råne</option>
      <option>Purke</option>
    </select>
    <select>
      <option value="none" selected disabled hidden>Alder</option>
      <option>Alle</option>
      <option>Under 1 mnd</option>
      <option>1 - 2 mnd</option>
      <option>3 - 4 mnd</option>
      <option>5 - 6 mnd</option>
      <option>Over 6 mnd</option>
    </select>
    <select>
      <option value="none" selected disabled hidden>Helse</option>
      <option>Alle</option>
      <option>Bra</option>
      <option>Kritisk</option>
    </select>
    <select>
      <option value="none" selected disabled hidden>Sorter</option>
      <option>Stigende</option>
      <option>Synkende</option>
    </select>
  </div>

  <!-- The output is a list that should loop through the data -->
  <ul>
    <li>
      <div class="pigContainer">
        <div class="pigItem">
          <b>ID: 777001</b><br/>
          Binge: 1<br/>
          Kjønn: Purke<br/>
          Alder: 2 mnd
        </div>
        <div class="pigStats">
          Aktivitet: <b class="bad">Høy</b>
          <br/><br/>
          Aktivitet under hviletid: <b class="bad">Høy</b>
        </div>
        <img src="../assets/warning_icon.png" alt="Logo" height="40px">
        <button type="button" class="btnInfo" (click)="viewInfoPage()">Vis mer</button>
      </div>
    </li>
    <!-- Just mock, remove after demo -->
    <li>
      <div class="pigContainer">
        <div class="pigItem">
          <b>ID: 777002</b><br/>
          Binge: 1<br/>
          Kjønn: Råne<br/>
          Alder: 1 mnd
        </div>
        <div class="pigStats">
          Aktivitet: <b class="bad">Høy</b>
          <br/><br/>
          Aktivitet under hviletid: <b class="good">Normal</b>
        </div>
        <img src="../assets/warning_icon.png" alt="Logo" height="40px">
        <button type="button" class="btnInfo" (click)="viewInfoPage()">Vis mer</button>
      </div>
    </li>
    <li>
      <div class="pigContainer">
        <div class="pigItem">
          <b>ID: 777003</b><br/>
          Binge: 1<br/>
          Kjønn: Purke<br/>
          Alder: 3 uker
        </div>
        <div class="pigStats">
          Aktivitet: <b class="bad">Lav</b>
          <br/><br/>
          Aktivitet under hviletid: <b class="good">Normal</b>
        </div>
        <img src="../assets/warning_icon.png" alt="Logo" height="40px">
        <button type="button" class="btnInfo" (click)="viewInfoPage()">Vis mer</button>
      </div>
    </li>
    <li>
      <div class="pigContainer">
        <div class="pigItem">
          <b>ID: 777004</b><br/>
          Binge: 1<br/>
          Kjønn: Råne<br/>
          Alder: 3 mnd
        </div>
        <div class="pigStats">
          Aktivitet: <b class="good">Normal</b>
          <br/><br/>
          Aktivitet under hviletid: <b class="good">Normal</b>
        </div>
        <button type="button" class="btnInfo" (click)="viewInfoPage()">Vis mer</button>
      </div>
    </li>
    <li>
      <div class="pigContainer">
        <div class="pigItem">
          <b>ID: 777005</b><br/>
          Binge: 1<br/>
          Kjønn: Purke<br/>
          Alder: 4 mnd
        </div>
        <div class="pigStats">
          Aktivitet: <b class="good">Normal</b>
          <br/><br/>
          Aktivitet under hviletid: <b class="good">Normal</b>
        </div>
        <button type="button" class="btnInfo" (click)="viewInfoPage()">Vis mer</button>
      </div>
    </li>
  </ul>
</div>
