.header {
  background: #36454F;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 1rem 0;
}

.logoContainer {
  margin-right: auto;
  margin-left: 2rem;
}

.userContainer {
  margin-right: 2rem;
  color: #ECECEC;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
}


