<div class="container">
  <div class="searchWrapper">
    <select class="filter">
      <option>
        Binge nr. 1
      </option>
      <option>
        Binge nr. 2
      </option>
      <option>
        Binge nr. 3
      </option>
    </select>

    <input id="searchbar" class="searchbar" type="text" placeholder="Søkeord ..."/>
    <button type="button" class="searchBtn">Søk</button>
  </div>

  <ul>
    <li><a routerLink="/info-page" routerLinkActive="active" ariaCurrentWhenActive="page">ID: 333 444</a></li>
    <li><button type="button" >ID: 333 445</button></li>
    <li>ID: 333 446</li>
    <li>ID: 333 447</li>
    <li>ID: 333 448</li>
  </ul>
</div>
